@model List<Ftec.ProgWeb.Atividade1.Models.Aluno>
@{
    ViewBag.Title = "Alunos";
}
<div id="header">
    <h2>Alunos</h2>
    <br />
    @Html.ActionLink("Cadastrar Novo Aluno", "Cadastrar");
    <br/>
    <form method="get" action="Alunos/Procurar">
        <div class="col-md-12">
            <input class="col-xs-11 form-control" id="busca" type="text" name="busca"/>
            <input type="submit" value="Procurar" class="col-xs-1 btn btn-default" />
        </div>
    </form>
</div>
<hr />
<div id="list_alunos">
    <div id="list-header" class="col-xs-12">
        <span class="col-xs-2"><b>Código</b></span>
        <span class="col-xs-3"><b>Nome</b></span>
        <span class="col-xs-2"><b>Idade</b></span>
        <span class="col-xs-2"><b>Turma</b></span>
    </div>
    @{ if (Model != null)
        {
            foreach (var aluno in Model)
            {
                <div class="col-xs-12 form-group" id="aluno-@aluno.Codigo">
                    <span class="col-xs-2">@aluno.Codigo</span>
                    <span class="col-xs-3">@aluno.Nome</span>
                    <span class="col-xs-2">@aluno.Idade</span>
                    <span class="col-xs-2">@aluno.Turma</span>
                    <a class="btn  btn-default btn-xs" href="@Url.Action("Excluir", "Alunos", new { codigo = aluno.Codigo })">Excluir</a>
                </div>
            }
        }
    }
</div>

